html {
    font-family: Helvetica;
    background-color: #000000;
}

.container {
    max-width: 1100px;
    background-color: #ffd03f;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
    border-radius: 30px;
}

.bold {
    font-weight: bold;
}

/* header */
.header {
    text-align: center;
}

.main-title {
    font-size: 40px;
}

.main-paragraph {
    font-style: italic;
}

/* Imagem destaque */
.featured-image {
    text-align: center;
    margin-top: 30px;  
}

.img-bmth-1 {
    border-radius: 30px;
}

/* Biografia */
.biograph-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #000;
    border-bottom: 1px dashed #000;
}

/* Quotes */
.quotes-container {
    background-color: #000;
    padding: 30px;
    border-radius: 30px;
}

.quotes-container blockquote {
    font-weight: bold;
    font-size: 30px;
    color: #ffd03f;
}

.quotes-container p {
    font-style: italic;
    color: #ffd03f;
}

/* Curiosidades */
.curiosities-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #000;
    border-bottom: 1px dashed #000;
}

.curiosities-container li {
    height: 58px;
}

/* Imagem bold */
.img-bold {
    font-weight: bold;
    text-align: center;
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #000;
    border-bottom: 1px dashed #000;
}

/* Captions */
figcaption {
    margin-top: -20px;
}